name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag car-expense-tracker:latest
    - name: Save image to tar
      run: docker save car-expense-tracker:latest | zstdmt > car-expense-tracker.tar.zst
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: car-expense-tracker.tar.zst
